.plans-container {
  background: url("/images/plans/plans-cover.jpeg") fixed no-repeat;
  background-position: center;
  background-size: contain;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.plans-container > h1 {
  color: #fff;
  font-size: 70px;
}

.plans-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
}

p {
  color: #16222e;
  font-size: 20px;
  margin: 5% 10%;
  text-align: center;
}

h2 {
  color: #16222e;
  margin: 3% 10%;
  text-align: center;
}

.plans {
  display: flex;
  width: 100%;
  padding: 50px 150px;
  height: 700px;

  background-color: #16222e;
}

.plans-wrap {
  display: flex;
  margin: auto;
  width: auto;
  align-items: center;
}

.plan-single {
  border-color: #16222e;

  background-color: #ffffff;
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
  padding: 20px 50px;
  margin: 25px 5px;
  width: 200px;
  height: 400px;

  transition: all 0.3s linear;
}

.plan-single > h2 {
  font-size: 10px;
}

.plan-single > h3 {
  font-size: 8px;
}

.plan-single > h4 {
  font-size: 6px;
}

.plan-single > p {
  font-size: 6px;
}

.plan-btn {
  background-color: #ff1616;
  color: #ffffff;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  border-radius: 50px;
}

.plan-btn:hover {
  transition: all 0.3s ease-out;
  background: #ffffff;
  color: #16222e;
  transition: 250ms;
}

.plan-single:hover {
  width: 250px;
  height: 500px;
  border-width: 10px;
  margin: 25px 10px;
  align-items: center;
}

.plan-single:hover > h2 {
  font-size: 20px;
}

.plan-single:hover > h3 {
  font-size: 16px;
}

.plan-single:hover > h4 {
  font-size: 12px;
}

.plan-single:hover > p {
  font-size: 12px;
}
